/*
 * -------------------------------------------------
 *  Nextflow config file for AWSBatch
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using iGenome paths from s3
 * Uses docker for software depedencies.
 */

batch {
    workDir = 's3://hailfinger-icgc-testrun/work'
    process.executor = 'awsbatch'
    process.queue = 'SFB209_Hailfinger_APeltzer_Test'
    executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    aws.region = 'us-east-1'    
  }

executor {
  awscli = '/home/ec2-user/miniconda/bin/aws'
}
