/*
 * -------------------------------------------------
 *  Nextflow config file for AWSBatch
 * -------------------------------------------------
 * Imported under the 'aws' Nextflow profile in nextflow.config
 * Defines reference genomes, using iGenome paths from s3
 * Uses docker for software depedencies.
 */

executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'


process {
  executor = 'awsbatch'
  queue = 'SFB209_Hailfinger_APeltzer_Test'

  errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
  maxErrors = '-1'
  maxRetries = 2
  cpus = 2
  memory = 7.GB
}